!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{name: "viewport", content: "width=device-width,initial-scale=1"}
    %title The Hurds | Jake + Sarah
    = csrf_meta_tags
    = csp_meta_tag

    = javascript_pack_tag "application", "data-turbolinks-track": "reload"
    = stylesheet_pack_tag "stylesheets", "data-turbolinks-track": "reload"

  %body
    = react_component 'NavBar'
    = yield
    = render "layouts/footer"
